body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.content {
    padding: 20px;
    border-top: 1px solid #e0e0e0;
}

h1, h2 {
    color: #333;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

ul, ol {
    margin: 10px 0 20px 20px;
    padding-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

.click-here{
    font-size: 0.93rem;
    margin-bottom: 20px;
    text-align: center;
}